/* Fonts imported from Google Fonts : https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&family=Shrikhand&display=swap');

/* Style sheet for songbook Django app */

:root {
    --logo-background: rgb(117, 163, 199);
    --interface-dark-blue: rgb(1, 63, 110);
    --interface-medium-blue: rgb(121, 180, 224);
    --interface-light-blue: rgb(196, 220, 238);
    --dark-link-text-colour: rgb(0, 55, 97);
    --light-link-text-colour: rgb(255, 255, 255);
    --button-container-height: 50px;
    --button-container-colour: rgb(170, 205, 231);
    --button-colour: rgb(137, 170, 196);
    --button-hover-colour: rgb(141, 177, 207);
    --headers-background-colour: rgb(170, 205, 231);
    --header-height: 90px;
    --footer-height: 45px;
    --standard-border-color: rgba(0, 0 ,0 , 0.15);
    --standard-border-style: solid;
    --standard-border-width: 1px;
     /* Shrikhand and Lato fonts imported from Google Fonts : https://fonts.google.com/ */
    --brand-font-family: Shrikhand, Lato, Helvetica, sans-serif;
    --primary-font-family: Lato, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    color: var(--dark-link-text-colour);
    font-family: var(--primary-font-family);
    word-break: break-word;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 243, 255);
}

/* Header styling */
header {
    display: flex;
    position: absolute;
    height: var(--header-height);
    flex: 0;
    width: 100%;
    background-color: var(--interface-medium-blue);
    border-bottom: 2px ridge rgba(0, 0 ,0 , 0.15);
}

/* Navbar styling */
.navbar {
    width: 100%;
    flex-wrap: nowrap;
}

nav {
    font-size: large;
}

.navbar-container {
    padding: 0;
    background-color: var(--interface-medium-blue);

}

.navbar-nav {
    padding: 10px;
    position: absolute;
    z-index: 1;
    background-color: var(--interface-medium-blue);
    width: 100vw;
    top: var(--header-height);
    left: 0;
}

.navbar-toggler {
    background-color: var(--button-colour);
    margin-right: 10px;
}

.navbar-toggler:hover {
    background-color: var(--button-hover-colour);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    /* background-color: var(--button-hover-colour); */
    box-shadow: none;
}

/* Main styling */
main {
    flex: 1 0 auto;
    position: absolute;
    display: flex;
    top: var(--header-height);
    height: calc(100% - var(--header-height) - var(--footer-height));
    background-color: var(--interface-light-blue);
    width: 100%;
    justify-content: center;
}

.main-inner-container {
    /* margin: 11px; */
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--button-container-height));
    width: 100%;
    text-align: center;
}

/* Content container styles */
.content-container {
    /* flex: 1 0 auto; */
    width: 100%;
    /* height: calc(100% - var(--button-container-height) - var(--footer-height)); */
    background-color: var(--interface-light-blue);
    overflow-y: scroll;
    overflow-x: hidden;
    /* margin-bottom: 30px; */
    text-align: center;
}

/* Home page styling */
.home-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.home-login-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--interface-medium-blue);
    color: var(--dark-link-text-colour);
    width: 50%;
    height: 200px;
    font-size: xxx-large;
    border-radius: 25px;
    
}

.home-register-link {
    font-size: larger;
}

/* Footer styling */
footer {
    height: var(--footer-height);
    position: absolute;
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: var(--interface-medium-blue);
    border-top: 3px ridge rgba(0, 0 ,0 , 0.15);
}

h2 {
    font-size: 1.5em;
}

h2,
h3 {
    text-align: center;
    background-color: var(--headers-background-colour);
    /* padding: 5px; */
    margin: 0;
    font-family: var(--brand-font-family);
}

h3 {
    font-size: medium;
    font-style: italic;
}

.song-header,
.setlist-header,
.artist {
    border-bottom: 1px solid rgba(0, 0 ,0 , 0.15);
}

/* Common anchor and link styles */
a {
    text-decoration: none;
    color: var(--dark-link-text-colour);
}

.standard-link:hover {
    text-shadow: 0px 0px 20px rgb(1, 63, 110);
}

/* End of common anchor and link styles */

/* Button styles */
.btn,
.anchor-btn,
button {
    font-family: var(--primary-font-family);
    font-weight: 400;
    margin: 1.5px;
    height: fit-content;
    color: var(--dark-link-text-colour);
    padding: 3px 7px;
    border-radius: 25px;
    background-color: var(--button-colour);
    border: var(--standard-border-width) var(--standard-border-style) var(--standard-border-color);
}

.btn:hover,
.button:hover,
.anchor-btn:hover {
    background-color: var(--button-hover-colour);
    box-shadow: 0px 0px 20px 1px rgb(1, 63, 110);
}

.logo-main {
    margin-left: 7px;
}

.logo-main,
.logo {
    color: var(--dark-link-text-colour);
    letter-spacing: 1px;
    padding: 11px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--logo-background);
    border: var(--standard-border-width) var(--standard-border-style) var(--standard-border-color);
}

.logo-main:hover,
.logo:hover {
    background-color: rgb(140, 172, 197);
}

.logo {
    line-height: 1;
    padding: 5px 13px;
}

.logo-brand {
    text-transform: uppercase;
    font-family: var(--brand-font-family);
    margin-bottom: 0;
    font-weight: bold;
}

.logo-brand-header {
    font-size: x-large;
}

.logo-app-header {
    margin-bottom: 0;
    font-size: large;
}

.logo-brand-footer {

    font-size: small;
}

.logo-app-footer {
    font-size: x-small;
}

.song-lyrics {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    /* max-height: 100%; need back*/
    width: 100%;
    background-color: var(--interface-light-blue);
}

.song-lyrics p {
    font-size: large;
}

label {
    font-size: large;
}

.form-check-input {
    margin-left: 11px;
}

input:hover,
.form-control:hover,
select:hover {
    border-color: var(--standard-border-color);
    box-shadow: 0px 0px 20px 1px rgb(1, 63, 110);
}

.form-check-input:hover {
    background-color: var(--button-colour);
    border-color: var(--standard-border-color);
    box-shadow: 0px 0px 20px 1px rgb(1, 63, 110);
}

.form-check-input:checked {
    background-color: var(--button-colour);
    border-color: var(--standard-border-color);
}

.form-check-label {
    text-align: left;
    width: 100%;
}

.note {
    font-size: small;
}

/* Button container styles */
.button-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--button-container-height);
    background-color: var(--button-container-colour);
    border-top: 1px solid rgba(0, 0 ,0 , 0.15);
}

.scroll-stop {
    display: none;
}

.setlist-name-status::after,
.title-status::after {
    content: 'Sorry, this title is taken';
    font-family: var(--primary-font-family);
    font-weight: bolder;
    font-size: 0.875em;
    color: #dc3545;
    text-align: center;
}

.scroll-none {
    display: none;
}

form {
    margin: 10px;
}

#div_id_remember {
    display: flex;
    justify-content: center;
    margin: 11px;
}

.checkboxinput {
    margin-right: 5px;
}

.text-404 {
    font-size: xx-large;
}

.messages {
    position: absolute;
    z-index: 3;
    transition: ease-in;
    width: 100vw;
    /* left: calc(100vw / 2) */
}

/* Song and setlist list styling */
ul {
    list-style-type: none;
}

.song-list-ul,
.setlist-list-ul {
    padding: 0;
}

.song-list-li,
.setlist-list-li {
    display: flex;
    align-items: center;
    border: 1px solid var(--interface-dark-blue);
    margin: 3px 3px;
    border-radius: 11px;
    background-color: rgba(1, 63, 110, 0.15);
    padding: 5px 0;
    box-shadow: 0px 0px 20px 1px rgb(1, 63, 110);
}

.song-anchor,
.setlist-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.song-anchor:hover,
.setlist-anchor:hover {
    height: 55px;
}

.song-list-li:hover {
    /* box-shadow: none; */
    background-color: rgba(1, 63, 110, 0.05);
    position: relative;
    /* height: 75px; */
    /* background-color: var(--button-colour); */
   background-image: linear-gradient(var(--button-colour), var(--interface-light-blue), var(--button-colour));
}

.box-link:hover {
    box-shadow: 0px 0px 20px 1px rgb(1, 63, 110);
}

.confirm-sign-out,
.confirm-delete {
    font-size: 3rem;
}

.anchor-style {
    text-decoration: underline;
    font-style: italic;
}

.sign-up-button {
    margin-top: 11px;
}

/* Add media query for medium width screens */
@media screen and (min-width: 768px) {

    .navbar-nav {
        width: fit-content;
        position: initial;
    }

    .messages {
        width: 50%
    }

    .song-list-li,
    .setlist-list-li {
        margin: 3px 13px;
    }

}

/* Add media query for wide screens */
@media screen and (min-width: 1112px) {

    header,
    main,
    footer {
        width: 1112px;
        /* right: calc((100% / 2) - (50% / 2)); */
        right: calc(50% - (1112px / 2));
    }

    .main-inner-container {
        align-items: center;
    }

    .content-container {
        width: 70%;
    }

    .navbar-nav {
        width: initial;
    }

    h2,
    h3 {
        width: 100%;
    }

}