{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Music Aid Songbook, a website to store your and display your lyrics">
        <meta name="keywords" content="Music Aid, Songbook, music, lyrics">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <!-- Navigation bar skeleton provided by bootstrap -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid navbar-container">
                <a class="navbar-brand logo-main box-link" href="{% url 'home' %}">
                    <h1 class="logo-brand-header">Music Aid</h1>
                    <h2 class="logo-app-header">Songbook</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active standard-link" aria-current="page" href="{% url 'home' %}">Songbook</a>
                    </li>
                    <!-- Authentication nav links dependent on authentication provided by Code Institute -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link standard-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link standard-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link standard-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    <!-- End of Authentication nav links dependent on authentication provided by Code Institute -->
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link standard-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    {% endif %}
                    </ul>
                </div>
                </div>
            </nav>
            <!-- End of bootstrap navigation -->
        </header>
        <main class="main">
            {% block content %}
                <!-- Main page content inserted here -->
            {% endblock content%}
        </main>
        <footer class="footer">
            <a class="navbar-brand logo standard-link" href="{% url 'home' %}">
                <h1 class="logo-brand logo-brand-footer">Music Aid</h1>
                <h2 class="logo-app-footer">Songbook</h2>
            </a>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
</html>