{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Songs</h2>
        <ul>
            {% for song in object_list %}
                <li>
                    <a href="{% url 'song_view' song.pk %}">{{ song.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_song' %}">Add Song</a>
    {% else %}
        <div class="home-login">
            <a href="{% url 'account_login' %}" class="home-login-link box-link">Login</button>
            <a href="{% url 'account_signup' %}" class="home-register-link standard-link">Register</a>
        </div>
    {% endif %}
{% endblock content %}