{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="with_buttons">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            {{ form }}
            <div class="button-container">
                <button type="submit" class="btn">Delete Setlist</button>
                <a href="{% url 'setlist_edit' pk %}">No Thanks</a>
            </div>
        </form>
    </div>
{% endblock content %}