{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="with_buttons">
        <form method="post">
            {{ form | crispy }}
            {% csrf_token %}
            <div class="button-container">
                {% if mode == 'add' %}
                    <button type="submit" class="btn">Add Setlist</button>
                {% else %} 
                    <a href="{% url 'setlist_view' setlist_pk %}">Back to Setlists</a>
                    <button type="submit">Save</button>
                    <a href="{% url 'setlist_delete' setlist_pk %}">Delete</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}