{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h2>Setlists</h2>
    <div class="content-container">
        <ul>
            {% for setlist in object_list %}
                <li>
                    <a href="{% url 'setlist_view' setlist.pk %}">{{ setlist.setlist_name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="button-container">
            <a href="{% url 'setlist_add' %}" class="anchor-btn">Add Setlist</a>
        </div>
    </div>
{% endblock content %}