{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <p class="confirm-delete"><br><br>Are you sure you want to delete "{{ object }}"?</p>
            {{ form }}
            <div class="button-container">
                <button type="submit" class="button">Delete Setlist</button>
                <a href="{% url 'setlist_edit' pk %}" class="anchor-btn">No Thanks</a>
            </div>
        </form>
    </div>
{% endblock content %}