{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="main-inner-container">
            <h2>{{ song_detail.title }}</h2>
            <h3>{{ song_detail.artist }}</h3>
        <div id="content-container" class="content-container song-scroll with_buttons">
            <div class="song-lyrics">
                {{ song_detail.lyrics | safe }}
            </div>
        </div>
        <div class="button-container scroll-controls">
            {% if setlist_pk != None %}
                <a href="{% url 'setlist_view' setlist_pk %}" class="anchor-btn">Setlist</a>
                <a href="{% url 'setlist_song_edit' pk setlist_pk %}" class="anchor-btn">Edit</a>
            {% else %}
                <a href="{% url 'home' %}" class="anchor-btn">Songbook</a>
                <a href="{% url 'song_edit' pk %}" class="anchor-btn">Edit</a>
            {% endif %}
            <button id="scroll-start">Play</button>
            <button id="scroll-stop">Stop</button>
        </div>
    </div>
{% endblock content %}