{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="with_buttons">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            {{ form }}
            <div class="button-container">
                <button type="submit" class="btn">Delete Song</button>
                {% if setlist_pk != None %}
                    <a href="{% url 'setlist_song_edit' pk setlist_pk %}">No Thanks</a>
                {% else %}
                    <a href="{% url 'song_edit' pk %}">No Thanks</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}