{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        {% if mode == 'add' %}
            <button type="submit" class="btn">Add Song</button>
        {% else %}            
            <a href="{% url 'home' %}">Songbook</a>
            <button type="submit" class="btn">Save Song</button>
            <a href="{% url 'delete_song' pk %}">Delete</a>
        {% endif %}
    </form>
    {% else %}
        Test
    {% endif %}
{% endblock content %}