{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        {% if mode == 'add' %}
            <button type="submit" class="btn">Add Song</button>
            <a href="{% url 'home' %}">Back to Songbook</a>
        {% else %}
            <button type="submit" class="btn">Save Song</button>    
            {% if setlist_pk != None %}
                <a href="{% url 'setlist_song_view' pk setlist_pk %}">Back to Song</a>
                <a href="{% url 'setlist_song_delete' pk setlist_pk %}">Delete</a>
            {% else %}
                <a href="{% url 'song_view' pk %}">Back to Song</a>
                <a href="{% url 'song_delete' pk %}">Delete</a>
            {% endif %}        
        {% endif %}
    </form>
{% endblock content %}