{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    {% if song_detail.artist != '' %}
        <h2>{{ song_detail.title }}</h2>
        <h3 class="song-detail-container">{{ song_detail.artist }}</h3>
    {% else %}
        <h2 class="song-detail-container">{{ song_detail.title }}</h2>
    {% endif %}
    <div id="content-container" class="content-container song-scroll">
        <div  id="lyric-container" class="song-lyrics">
            {{ song_detail.lyrics | safe }}
        </div>
    </div>
    <div id="button-container" class="button-container scroll-controls">
        {% if setlist_pk != None %}
            <a id="back" href="{% url 'setlist_view' setlist_pk %}" class="anchor-btn">Setlist</a>
            <a id="edit" href="{% url 'setlist_song_edit' pk setlist_pk %}" class="anchor-btn">Edit</a>
        {% else %}
            <a id="back" href="{% url 'home' %}" class="anchor-btn">Songbook</a>
            <a id="edit" href="{% url 'song_edit' pk %}" class="anchor-btn">Edit</a>
        {% endif %}
        <button id="scroll-start" class="button scroll-none">Autoscroll</button>
        <button id="scroll-stop" class="button scroll-stop">Stop</button>
        <span id="scroll-speed-label" class="scroll-none scroll-label">Scroll Speed</span>
        <span id="scroll-speed" class="scroll-none scroll-label">{{song_detail.scroll_speed}}</span>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/songbook_js/songbook_song_view.js' %}"></script>
{% endblock javascript%}