{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>{{ song_detail.title }}</h2>
        <h3>{{ song_detail.artist }}</h3>
        <div class="song-lyrics">
            {{ song_detail.lyrics | safe }}
        </div>
        <a href="{% url 'home' %}">Songbook</a>
        <a href="{% url 'song_edit' pk %}">Edit</a>
    {% else %}
        <div class="home-login">
            <a href="{% url 'account_login' %}" class="home-login-link box-link">Login</button>
            <a href="{% url 'account_signup' %}" class="home-register-link standard-link">Register</a>
        </div>
    {% endif %}
{% endblock content %}